<div class="sidebar pure-u-1 pure-u-md-1-4">

    <img src="{{ .Site.BaseURL }}/images/logo.png" class="logo"/>
    <div class="separator"></div>
    <div class="header">
        <hgroup>
            <h1 class="brand-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
            <h2 class="brand-tagline">{{ with .Site.Params.description }} {{.}} {{end}}</h2>
        </hgroup>


        <ul class="nav-list side-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/docs/deploy/">Deploy</a></li>
            <li><a href="/walkthrough">Walkthrough</a></li>
            <li><a href="/docs/dickfile/">Dickfile</a></li>
            <li><a href="/docs/integrations/">Integrations</a></li>
        </ul>

        <nav class="nav">
            <ul class="nav-list">
                {{ with .Site.Params.twitterName }}
                <li class="nav-item">
                    <a class="pure-button" href="https://twitter.com/{{ . }}"><i class="fa fa-twitter"></i> Twitter</a>
                </li>
                {{ end }}
                {{ with .Site.Params.slackName }}
                <li class="nav-item">
                    <a class="pure-button" href="https://{{ . }}.slack.com"><i class="fa fa-slack"></i> slack</a>
                </li>
                {{ end }}
                {{ with .Site.Params.githubName }}
                <li class="nav-item">
                    <a class="pure-button" href="https://github.com/{{ . }} "><i class="fa fa-github-alt"></i>
                        github</a>
                </li>
                {{ end }}
            </ul>
        </nav>


        <p>{{ with .Site.Params.Copyright }}{{.}}{{ else }}&copy; {{.Now.Format "2006"}}. All rights reserved.
            {{end}}</p>
    </div>
</div>
